body {
  margin: 0;
  padding: 0;
}

.fluidtext-4xl {
  font-size: clamp(2.25rem, calc(2rem + 2vw), 4.5rem);
}

.fluidtext-3xl {
  font-size: clamp(2rem, calc(2rem + 2vw), 4rem);
}

.fluidtext-2xl {
  font-size: clamp(1.75rem, calc(1.75rem + 2vw), 3rem);
}

.fluidtext-xl {
  font-size: clamp(1.5rem, calc(1.5rem + 2vw), 2.5rem);
}

.fluidtext-lg {
  font-size: clamp(1.25rem, calc(1.25rem + 2vw), 2rem);
}

.fluidtext-base {
  font-size: clamp(1rem, calc(1rem + 2vw), 1.5rem);
}

.fluidtext-sm {
  font-size: clamp(0.9rem, calc(0.9rem + 2vw), 1.25rem);
}

.fluidtext-xs {
  font-size: clamp(0.8rem, calc(0.8rem + 2vw), 1rem);
}