@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'outfit';
  src: url('./fonts/outfit.ttf') format('truetype');
  font-display: 'swap';
}

@layer base {
  body {
    @apply bg-bglight dark:bg-bgdark;
  }
}